node_modules
**/node_modules
dist
**/dist
.git
*.log
coverage
**/coverage
docker
infrastructure
content
docs
*.md
*.sh
!scripts/
.dev-certs
depot.json
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
